<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>SonicPeek Preview</string>
	<key>CFBundleExecutable</key>
	<string>SonicPeekPreview</string>
	<key>CFBundleIdentifier</key>
	<string>com.kevin781130.sonicpeek.preview</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>SonicPeekPreview</string>
	<key>CFBundlePackageType</key>
	<string>XPC!</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>QLIsDataBasedPreview</key>
			<false/>
			<key>QLSupportedContentTypes</key>
			<array>
				<string>com.microsoft.waveform-audio</string>
				<string>public.aiff-audio</string>
				<string>public.aifc-audio</string>
				<string>public.aac-audio</string>
				<string>com.apple.coreaudio-format</string>
				<string>public.mp3</string>
				<string>public.mpeg-4-audio</string>
				<string>org.xiph.flac</string>
			</array>
			<key>QLSupportsSearchableItems</key>
			<false/>
		</dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.quicklook.preview</string>
		<key>NSExtensionPrincipalClass</key>
		<string>PeekExtension.PeekPreviewViewController</string>
	</dict>
</dict>
</plist>
